## Toronto Neighborhood Segmentation and Clustering

In [10]:
import numpy as np # library to handle data in a vectorized manner
import pandas as pd # library for data analsysis

!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

import pandas as pd # library for data analsysis
# extract table from wikipedia
import html5lib

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

In [26]:
# extracting table from wikipedia
page = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

wikitable = pd.read_html(page, attrs ={'class':'wikitable'})

print('Extrated {num} wikitables'.format(num= len(wikitable)))

Extrated 1 wikitables

### Transformed Data into a Dataframe

In [30]:
df = wikitable[0]
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287 entries, 0 to 286
Data columns (total 3 columns):
Postcode         287 non-null object
Borough          287 non-null object
Neighbourhood    287 non-null object
dtypes: object(3)
memory usage: 6.9+ KB

In [44]:
df['Borough'] = df['Borough'].str.replace('Not assigned', '')

In [41]:
df.isnull().values.any()

False

In [45]:
df.head()

  Postcode           Borough     Neighbourhood
0      M1A            np.nan      Not assigned
1      M2A            np.nan      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [19]:
# cleaning and refining the data 
# drop any cell that doesnt have any borough assigned 
#to_neighborhoods = to_neighborhoods.dropna(subset = ['Borough'], axis=0, inplace=True)

#reseting index since we dropped rows
#to_neighborhoods.reset_index(drop=True, inplace=True)